.innerHeaderCompContainer {
  display: flex;
  height: 70%;
  width: 90%;
  background-color: white;
  border-radius: 0.5rem;
  justify-content: space-between;
}

.leftSideContainer {
  display: flex;
  height: 100%;
  width: 24rem;
  /* background-color: beige; */
  align-items: center;
  justify-content: center;
}

.checkoutButtonContainer {
  display: flex;
  width: 12rem;
  /* background-color: blueviolet; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.headerButtonStyle {
  display: flex;
  height: 70%;
  width: 10rem;
  /* background-color: #ffecd5; */
  background-color: white;
  border-style: none;
  outline-style: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: inherit;
  margin-right: 1rem;
}
