@media only screen and (max-width: 1350px) {
  .lowerFruitCardGridContainer {
    display: flex;
    min-height: 33rem;
    width: 90%;
    padding-top: 1rem;
    /* background-color: white; */
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
  }
}

.fruitRowContainer {
  display: flex;
  height: 16rem;
  /* background-color: pink; */
  width: 100%;
}

.fruitBlockDividerContainer {
  display: flex;
  height: 100%;
  flex: 2;
  /* background-color: lightgreen; */
}

@media only screen and (min-width: 1350px) {
  .lowerFruitCardGridContainer {
    display: none;
  }
}
