.fruitCardCompContainer {
  display: flex;
  height: 15rem;
  min-width: 14rem;
  background-color: #ffd8a9;
  margin-left: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  flex-direction: column;
  box-shadow: 0px 1px 3px grey;
  align-items: center;
}

.upperCardContainer {
  display: flex;
  height: 80%;
  /* background-color: lightgreen; */
  flex-direction: column;
  width: 100%;
}
.addToCartButtonStyle {
  display: flex;
  min-height: 2.7rem;
  width: 70%;
  background-color: brown;
  border-style: none;
  outline-style: none;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  border-radius: 0.3rem;
}

.fruitTitleContainer {
  display: flex;
  height: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* background-color: orange; */
}

.priceLabelContainer {
  display: flex;
  height: 2rem;
  width: 100%;
  /* background-color: blanchedalmond; */
  align-items: center;
  justify-content: center;
}

.lowerButtonContainer {
  display: flex;
  min-height: 4rem;
  width: 100%;
  /* background-color: green; */
  align-items: center;
  justify-content: center;
}

.fruitImageContainer {
  display: flex;
  height: 5rem;
  /* background-color: blueviolet; */
  justify-content: center;
  width: 100%;
}
