.lowerMainBodyCompContainer {
  display: flex;
  flex: 10;
  width: 100%;
  /* background-color: green; */
  flex-direction: column;
  align-items: center;
}

.listGridViewTabContainer {
  display: flex;
  height: 3rem;
  width: 90%;
  /* background-color: beige; */
  align-items: center;
}

.listGridButtonStyle {
  display: flex;
  height: 80%;
  width: 7rem;
  align-items: center;
  justify-content: center;
  border-style: none;
  outline-style: none;
  background-color: #ffecd5;
  cursor: pointer;
}

.lowerFruitCardGridContainer {
  display: flex;
  height: 100%;
  width: 90%;
  padding-top: 1rem;
  background-color: white;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
